* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #e7ecef;
}

.body-container {
  width: 1495px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 100px;
}

.container {
  padding: 0 90px;
}

.header {
  padding: 26px 0;
  box-shadow: 0px 1px 0px #dedede;
}

.header__title {
  color: #666666;
}

.back-link {
  text-decoration: none;
  color: #828282;
  margin: 25px 0 50px 0;
  display: block;
  width: fit-content;
  transition: all 0.2s ease-in-out;
}

.back-link::before {
  content: "←";
  font-size: 20px;
  display: inline-block;
  overflow: hidden;
  width: 12px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.back-link:hover {
  color: #444444;
}

.app__button {
  color: #fff;
  background: #424bb2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 40px 0;
}

.app__button:hover {
  background: #5c66d5;
}

.out {
  color: #3d3d3d;
}

.app__container,
.file-downloader {
  display: flex;
  justify-content: space-between;
}

input[type="file"] {
  display: none;
}

.file-downloader {
  border: 1px solid #dedede;
  border-radius: 2px;
  cursor: pointer;
  color: #828282;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.file-downloader:hover {
  border: 1px solid #8b8b8b;
}

.file-downloader:hover .code-block__btn {
  border-left: 1px solid #8b8b8b;
}

.code-block {
  width: 624px;
}

.code-block__name {
  padding: 15px 20px;
}
.code-block__btn {
  padding: 15px 30px;
  background: #e7ecef;
  border-left: 1px solid #dedede;
  transition: all 0.2s ease-in-out;
}

.app__analysis {
  display: flex;
  align-items: center;
}

.loader {
  display: none;
  margin-left: 30px;
  animation: load 1.2s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
